html, body {
    height: 100%
}
.menu .item.header img {
    width: 10px;
    height: 10px;
}
.example-grid .column, .example-grid .columns {
  background: #EEE;
  text-align: center;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  margin-bottom: .75rem;
  font-weight: 600;
  letter-spacing: .1rem; 
}
.page-content {
    margin-top: 30px;
    margin-bottom: 30px;
}
.heading-font-size {
    font-size: 1.5rem;
}
.icons-list .row {
    margin-bottom: 1.5rem;
}
pre[class*="language-"] {
  background:  #f8f8f8 !important;
}
.hero {
    height: 100%;
    width: 100%;
}
.hero > .image {
    background: #131313 50% 100% no-repeat;
    background-size: cover;
    background-position: top center; 
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-animation-name: overlay;
    animation-name: overlay;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background-image: url('../images/1.jpg');
}
.hero .logo {
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -114px;
    top: 3rem;
    opacity: 0;
    -webkit-animation-name: logo;
    animation-name: logo;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.hero .logo span {
    color: #696969;
}
.hero .logo img {
    width: 100px
}
.hero h1 {
    color: #525252;
    text-align: center;
    margin-bottom: 0;
}

@-webkit-keyframes overlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .50;
  }
}

@keyframes overlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .50;
  }
}

@-webkit-keyframes logo {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes logo {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.fluid {
     padding-left: 20px;
     padding-right: 20px;
}
