// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
  color: $headline-color;
}

// Vertical Rythm
h1 { font-size: 4.0rem; line-height: 1.275; margin-bottom: 2.55rem; letter-spacing: -.1rem; }
h2 { font-size: 3.6rem; line-height: 1.39; margin-bottom: 2.50rem; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.70; margin-bottom: 2.50rem; letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.05; margin-bottom: 2.55rem; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.40; margin-bottom: 2.55rem; letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.70; margin-bottom: 2.55rem; letter-spacing: 0; }

// Larger than phablet
@media (#{$bp-larger-than-phablet}) {
  h1 { font-size: 5.0rem; line-height: 1.02; }
  h2 { font-size: 4.2rem; line-height: 1.23; }
  h3 { font-size: 3.6rem; line-height: 1.45; }
  h4 { font-size: 3.0rem; line-height: 1.70; }
  h5 { font-size: 2.4rem; line-height: 1.10; }
  h6 { font-size: 1.5rem; line-height: 1.70; }
}

p {  margin-top: 0; margin-bottom: 2.75rem !important; line-height: 1.7; }