// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––

.button,
button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: $secondary-color;
  font: {
    size: 11px;
    weight: 600;
  }
  line-height: 38px;
  letter-spacing: .1rem;
  text: {
    transform: uppercase;
    align: center;
    decoration: none;
  }
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid $border-color {
    radius: $global-radius;
  }
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    color: $dark-grey;
    border-color: lighten($dark-grey, 33.3%);
    outline: 0;
    text-decoration: none;
  }

  &:focus {
    color: $dark-grey;
    border-color: lighten($dark-grey, 33.3%);
    outline: 0;
  }
}

input {
  &[type="submit"],
  &[type="reset"],
  &[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: $secondary-color;
    font: {
      size: 11px;
      weight: 600;
    }
    line-height: 38px;
    letter-spacing: .1rem;
    text: {
      align: center;
      transform: uppercase;
      decoration: none;
    }
    white-space: nowrap;
    background-color: transparent;
    border: 1px solid $border-color {
      radius: $global-radius;
    }
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
      color: $dark-grey;
      border-color: lighten($dark-grey, 33.3%);
      outline: 0;
    }

    &:focus {
      color: $dark-grey;
      border-color: lighten($dark-grey, 33.3%);
      outline: 0;
    }
  }
}

// button primary class
%buttonPrimary {
  @include button($primary-color, $link-color);
}

.button {
    &.primary {
        @extend %buttonPrimary;
    }
}

button {
    .button {
        &.primary {
            @extend %buttonPrimary;
        }
    }
}

input {
    &.button {
        &[type="submit"].primary,
        &[type="reset"].primary,
        &[type="button"].primary {
            @extend %buttonPrimary;
        }
    }
}

input {
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    height: 38px;
    padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
    background-color: #fff;
    border: 1px solid lighten($border-color, 8.8%) {
      radius: $global-radius;
    }
    box: {
      shadow: none;
      sizing: border-box;
    }
  }
}
